#
# Set the following variables to GitHub repository links containing the relevant osu! code.
#
# Supported values:
#   Repos:      https://github.com/ppy/osu
#   PRs:        https://github.com/ppy/osu/pull/15845
#   Trees:      https://github.com/ppy/osu/tree/34b0e374d855cacde830c91b7251f74d499d1a1d
#   Commits:    https://github.com/ppy/osu/commit/34b0e374d855cacde830c91b7251f74d499d1a1d
#   PR Commits: https://github.com/ppy/osu/pull/19120/commits/5f70ee3ed7b09042c737d99f67f326f3227b9776
#
OSU_A=https://github.com/ppy/osu
OSU_B=https://github.com/ppy/osu

#
# The ruleset for which to compute and output SR/PP.
#
# Supported values: [ osu, taiko, catch, mania ]
RULESET=osu

#
# Whether to output SR/PP for converts.
#
# Supported values: [ 0, 1 ]
NO_CONVERTS=0

#
# Whether to output SR/PP only for ranked beatmaps.
#
# Supported values: [ 0, 1 ]
RANKED_ONLY=0

#
# A comma-separated list of data that is to be output to the spreadsheet.
# The spreadsheet order depends on the order the generators are specified.
#
# Supported values: [ sr, pp, score ]
GENERATORS=pp,sr

#
# GitHub token with read-only access.
#
GH_TOKEN=

#
# Google Service Account JSON credential file with access to the Sheets and Drive APIs.
#
GOOGLE_CREDENTIALS_FILE=./google-credentials.json

#
# The number of threads to use for SR/PP processing.
#
THREADS=4

#
# The osu-queue-score-statistics repositories to use. These shouldn't normally be changed.
#
SCORE_PROCESSOR_A=https://github.com/ppy/osu-queue-score-statistics
SCORE_PROCESSOR_B=https://github.com/ppy/osu-queue-score-statistics

#
# The osu-difficulty-calculator repositories to use. These shouldn't normally be changed.
#
DIFFICULTY_CALCULATOR_A=https://github.com/ppy/osu-difficulty-calculator
DIFFICULTY_CALCULATOR_B=https://github.com/ppy/osu-difficulty-calculator

#
# The maximum MySQL database size (in GiB) before the oldest generations are automatically purged.
#
# - If < 0, no generations are purged.
# - If = 0, only the current generation is kept.
# - If > 0, the oldest generations are purged until enough space is available.
#
MAX_DATABASE_SIZE=0

#
# The MySQL InnoDB buffer size.
# See: https://dev.mysql.com/doc/refman/5.7/en/innodb-buffer-pool-resize.html
#
INNODB_BUFFER_SIZE=4G
