version: '3.8'

x-build-context: &x-build-context
  context: ./docker
  dockerfile: Dockerfile

x-common-depends: &x-common-depends
  db:
    condition: service_healthy
  redis:
    condition: service_healthy

x-common: &x-common
  depends_on:
    <<: *x-common-depends
  env_file:
    - .env
  environment:
    REDIS_HOST: redis
  volumes:
    - ./docker:/app
    - ./beatmaps:/beatmaps
    - ./sql:/sql
  build:
    <<: *x-build-context
    target: base

services:
  db:
    image: mysql:8.0
    env_file:
      - .env
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - database:/var/lib/mysql
      - ./db:/etc/mysql/conf.d
    ports:
      - "${DB_PORT:-0}:3306"
    command: ['--innodb-buffer-pool-size=${INNODB_BUFFER_SIZE}']

  redis:
    image: redis:latest
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "${REDIS_PORT:-0}:6379"

  # Database setup
  setup:
    <<: *x-common
    working_dir: '/app/setup'
    command: [ './import.sh' ]

  # Difficulty calculation
  diffcalc:
    <<: *x-common
    working_dir: '/app/diffcalc'
    command: [ './start.sh' ]

  # Highscore importer
  importer:
    <<: *x-common
    working_dir: '/app/importer'
    command: [ './start.sh' ]

  # Performance points calculation
  ppcalc:
    <<: *x-common
    working_dir: '/app/ppcalc'
    command: [ './start.sh' ]

  # Spreadsheet generator
  generator:
    <<: *x-common
    build:
      <<: *x-build-context
      target: generator
    depends_on:
      <<: *x-common-depends
      # To support running `docker-compose up generator`...
      setup:
        condition: service_started
      diffcalc:
        condition: service_started
      importer:
        condition: service_started
      ppcalc:
        condition: service_started
    working_dir: '/app/generator'
    volumes:
      - ./docker:/app
      - ${GOOGLE_CREDENTIALS_FILE}:/credentials.json
    command: [ './start.sh' ]

volumes:
  database:
